<h2>About Odin Client</h2>
<p>Odin Client has been created by <a href="https://www.youtube.com/channel/UCJoWecK3fM2Yj_iPaIjCWcw">2200g</a> 'cuz he wanted to have something to do.</p>

<h2>Features</h2>
<ul>
  <li>PvP Based Mods!</li>
  <li>FPS Boost.</li>
  <li>Discord Rich Presence.</li>
</ul>

<p>For more information, join our Discord Server.</p>


<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://github.com/Odin-Client/OdinClient">Client's Source</a>
  </li>
  <li class="main-list-item">
    <a href="https://www.youtube.com/channel/UCJoWecK3fM2Yj_iPaIjCWcw">2200g</a>
  </li>
</ul>
